<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Página de Ayuda</title>
</head>
<body>    
    <main>
        <section id="Inicio">
            <div class="content" >
                <h1>Login</h1>
                <p>Este apartado esta destinado para el inicio de seccion</p>
                <img src="assets/img/login.jpg" style="width: 50rem;" alt="Descripción de la imagen">
            </div>
        </section>
        <section id="Usuario">
            <div class="content">
                <h1>Usuario</h1>
                <p></p>
                <p>En este apartado esta destinado para el ingreso de datos de usuarios, actualizacion, eliminar</p>
                <img src="assets/img/usuario.jpg" style="width: 50rem;" alt="Descripción de la imagen">
                <p></p>
                <h1>Eliminar Usuario</h1>
                <p></p>
                <p>Recuadro para eliminar</p>
                <img src="assets/img/list usu.jpg" style="width: 50rem;" alt="Descripción de la imagen">
                <p></p>
                <h1>Listar usuario</h1>
                <p></p>
                <p>Recuadro de listar</p>
                <p></p>
                <img src="assets/img/list usu 2.jpg" style="width: 50rem;" alt="Descripción de la imagen">
                <p></p>
                <h1>Recuadro de actalizar</h1>
                <p></p>
                <p>Este apartado actualiza la informacion de las tablas</p>
                <p></p>
                <img src="assets/img/actualizar usuario.jpg" style="width: 50rem;" alt="Descripción de la imagen">
                <p></p>
                <h1>Recuadro de registro de usuarios</h1>
                <p></p>
                <p>Registrar usuarios</p>
                <p></p>
                <img src="assets/img/rig usuario.jpg" style="width: 50rem;" alt="Descripción de la imagen">
                <p></p>
                <img src="assets/img/reg usua 2.jpg" style="width: 50rem;" alt="Descripción de la imagen">
            </div>
        </section>
        <section id="rol">
            <div class="content">
                <h1>Recuadro de listar de rol</h1>
                <p></p>
                <p>Recuadro de listar</p>
                <img src="assets/img/list rol.jpg" style="width: 50rem;" alt="Descripción de la imagen">
                <p></p>
                <h1>Vista</h1>
                <p></p>
                <p>Recuadro de informacion</p>
                <img src="assets/img/regrol.jpg" style="width: 50rem;" alt="Descripción de la imagen">
                <p></p>
                <p></p>
                <h1>Recuadro de actalizar</h1>
                <p></p>
                <p></p>
                <p>Este apartado actualiza la informacion de las tablas</p>
                <p></p>
                <p></p>
                <img src="assets/img/actualizar rol.jpg" style="width: 50rem;" alt="Descripción de la imagen">
                <p></p>
                <p></p>
                <h1>Registro de rol</h1>
                <p></p>
                <p></p>
                <p>En este recuadro se ve el uso de la advertencia, si el recuadro no esta lleno no se puede guardar informacion</p>
                <p></p>
                <p></p>
                <img src="assets/img/registrar rol.jpg" style="width: 50rem;" alt="Descripción de la imagen">
                <p></p>
                <p></p>
                <h1>listar</h1>
                <p></p>
                <p></p>
                <p>Recuadro para eliminar datos de la tabla</p>
                <p></p>
                <p></p>
                <img src="assets/img/listar roles.jpg" style="width: 50rem;" alt="Descripción de la imagen">
            </div>
        </section> 
        <section id="permiso">
            <div class="content">
                <h1>Recuadro de listar permisos</h1>
                <p></p>
                <p></p>
                <p>Recuadro de listar</p>
                <img src="assets/img/listar permisos.jpg" style="width: 50rem;" alt="Descripción de la imagen">
                <p></p>
                <p></p>
                <h1>Vista</h1>
                <p></p>
                <p></p>
                <p>Recuadro de informacion</p>
                <img src="assets/img/listarper.jpg" style="width: 50rem;" alt="Descripción de la imagen">
                <p></p>
                <p></p>
                <h1>Recuadro de actalizar</h1>
                <p></p>
                <p></p>
                <p>Este apartado actualiza la informacion de las tablas</p>
                <p></p>
                <p></p>
                <img src="assets/img/actualizar permiso.jpg" style="width: 50rem;" alt="Descripción de la imagen">
                <p></p>
                <p></p>
                <h1>Registro de rol</h1>
                <p></p>
                <p></p>
                <p>Este cuadro hace el registro de la informacion</p>
                <p></p>
                <p></p>
                <img src="assets/img/registrar permisos.jpg" style="width: 50rem;" alt="Descripción de la imagen">
                <p></p>
                <p></p>
            </div>
        </section>   
    </main>
</body>
</html>


