<div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <img src="assets/img/f.png" class="card-img-top" alt="Candidato 1">
          <div class="card-body">
            <h5 class="card-title">Ferney Silva</h5>
            <p class="card-text">Propuestas:</p>
            <ul>
              <li>Incrementar la inversión en educación.</li>
              <li>Impulsar programas de empleo para jóvenes.</li>
              <li>Promover políticas medioambientales sostenibles.</li>
            </ul>
            <a href="#" class="btn btn-primary">Votar</a>
          </div>
        </div>
      </div>
  
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <img src="assets/img/r.png" class="card-img-top" alt="Candidato 2">
          <div class="card-body">
            <h5 class="card-title">Rosalba Joaqui</h5>
            <p class="card-text">Propuestas:</p>
            <ul>
              <li>Reducir los impuestos para la clase media.</li>
              <li>Implementar medidas para la seguridad ciudadana.</li>
              <li>Fomentar la inversión en tecnologías limpias.</li>
            </ul>
            <a href="#" class="btn btn-primary">Votar</a>
          </div>
        </div>
      </div>
      
  
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <img src="assets/img/j.png" class="card-img-top" alt="Candidato 3">
          <div class="card-body">
            <h5 class="card-title">Jorge Bastidas</h5>
            <p class="card-text">Propuestas:</p>
            <ul>
              <li>Fortalecer el sistema de salud público.</li>
              <li>Promover la igualdad de género en el ámbito laboral.</li>
              <li>Impulsar la investigación en energías renovables.</li>
            </ul>
            <a href="#" class="btn btn-primary">Votar</a>
          </div>
        </div>
      </div>
    </div>
  </div>  
  
  
  